.App {

  width: 100%;
  height: 1000px;
}

.App-header{
    text-align: center;
  height: 10%;
  color: black;
  background-color: #0066ff;
  margin-left: 5%;
}
.main{
  width: 100%;
  height: inherit;
  display: flex;
}
.nav{
  list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
display: block;
padding-left: 20px;
width: 20%;
background-color: #0066ff;
height: 100%;
overflow: auto;
width: 15%;
margin-left: 5%;

}


.body{
  width: 80%;
  height: 100%;
  float: right;
      margin-left: 5%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  font-size: larger;
  text-decoration: none;
}

li a.active {
  background-color: #ffff80;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.box{
  padding: 4%;
}

.box label {
  margin: auto;
padding: 20px 10px;
size: a4;
}

.box input[type=text], [type=number] {
  width: 30%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}

.box input[type=submit],button {
  background-color: #008080;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bb-1{
  display: flex;
}

.display-balance{
  padding: 4%;
    font-size: x-large;

}
.transaction-box{
  display: flex;
}
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}



.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1a53ff;
  color: white;
}
